body {
  margin: 2em;
  background-color: #eee;
  font-family: 'sans';
}

.col .panel-body {
  min-height: 560px;
}

.widget {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

.plot {
  height: 300px;
  width: 100%;
}
