body {
  margin: 2em;
  background-color: #eee;
  font-family: 'sans';
}

.col .panel-body {
  min-height: 260px;
}

.widget {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

.plot {
  height: 300px;
  width: 100%;
}

.CodeMirror {
  height: auto;
}

.panel-title button {
  margin-top: -1ex;
  color: #fff;
}
